# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de producción
build/
dist/
dist-ssr/
*.local

# Editor - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Editor - JetBrains
.idea/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# Caché
.cache/
.parcel-cache/
.npm/
.eslintcache
.stylelintcache

# Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Archivos temporales
*.tmp
*.temp
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/

# Misc
*.pem